---
import Base from '../layouts/Base.astro';
import Link from '../components/Link.astro';
import Highlight from '../components/Highlight.astro';
import { Code } from 'astro:components';
---

<Base>
	<h1 class="text-5xl md:text-8xl lg:text-9xl text-center">Hi. I'm Akshat.</h1>
	<h2 class="text-center text-4xl md:text-5xl lg:text-6xl">I build <strong>awesome</strong> <span class="decoration-wavy underline decoration-orange-400">distributed systems</span></h2>
	<div class="mx-auto w-80 sm:w-150 md:w-150 lg:w-200 grid grid-cols-1 text-justify gap-6">
		<p class="text-2xl sm:text-2xl lg:text-3xl tracking-tight lg:tracking-normal text-justify">
		<span class="font-bold">I wrote the first-ever</span> Rust library
		for <Link href="https://blog.cloudflare.com/verified-bots-with-cryptography" code={true}>web-bot-auth</Link>, 
		serving <span class="font-bold">40K+</span> downloads and <span class="font-bold">50 million+</span> agent requests.
		</p>
		<p class="text-2xl sm:text-2xl lg:text-3xl sm:text-justify tracking-tight lg:tracking-normal">
		<span class="font-bold">I've been an engineer</span> at <Link href="https://www.cloudflare.com">Cloudflare</Link>, <Link href="https://construction.autodesk.com/products/plangrid/">PlanGrid</Link> (YC '12) and <Link href="https://www.brightedge.com/">BrightEdge</Link>.</p>
		<p class="text-2xl sm:text-2xl lg:text-3xl sm:text-justify tracking-tight lg:tracking-normal">I have an M. Sc. in CS from <Link href="https://www.brown.edu/">Brown</Link>.
		</p>
		<p class="text-2xl sm:text-2xl lg:text-3xl sm:text-justify tracking-tight lg:tracking-normal">
		I use <Highlight color="bg-red-400">Rust</Highlight>, <Highlight color="bg-sky-400">Golang</Highlight>, <Highlight class="bg-yellow-300">Python</Highlight>, <Highlight color="bg-fuchsia-400">Typescript</Highlight> and <Highlight color="bg-emerald-400">SQL</Link>.
		</p>
		<hr class="border-t-2">
		<div class="grid grid-cols-2 gap-4 sm:grid-cols-4 text-center">
			<Link code={true} href="mailto:me@akshatmahajan.com">Email</Link>
			<Link code={true} href="/resume.pdf">Resumé</Link>
			<Link code={true} href="https://github.com/AkshatM">GitHub</Link>
			<Link code={true} href="https://www.linkedin.com/in/mahajanakshat/">LinkedIn</Link>
		</div>
	</div>
</Base>
