---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../FormattedDate.astro'

interface Props {
	content: CollectionEntry<'post'>
}

const {
	content: { data, render }
} = Astro.props

const { remarkPluginFrontmatter } = await render()

const dateTimeOptions: Intl.DateTimeFormatOptions = { month: 'long' }
---

<div id='post-hero'>
	<p>
		{data.draft && <span>(Draft) </span>}
		<FormattedDate date={data.publishDate} dateTimeOptions={dateTimeOptions} />
		· {remarkPluginFrontmatter.minutesRead}
		{data.updatedDate && <> · Updated <FormattedDate date={data.updatedDate} dateTimeOptions={dateTimeOptions} /></>}
	</p>

	<h1>{data.title}</h1>
	{data.description && <p id='post-description'>{data.description}</p>}
</div>
