---
import type { TocItem } from '@/utils'

interface Props {
	heading: TocItem
}

const { heading: { depth, slug, subheadings, text } } = Astro.props
---

<li data-depth={depth}>
	<a aria-label={`Scroll to section: ${text}`} href={`#${slug}`}>{text}</a>
	{!!subheadings.length && (
		<ul>
			{subheadings.map((subheading) => <Astro.self heading={subheading} />)}
		</ul>
	)}
</li>
